html {
  font-size: 62.5%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &.locked {
    overflow-y: hidden;
    max-height: 100vh;
  }
  & > main {
    flex: 1 1 auto;
  }
}

div[class*="__container"] {
  width: min($containerWidth, 100% - $padding);
  margin-inline: auto;
}

a[disabled] {
  pointer-events: none;
  cursor: default;
}

img {
  object-fit: cover;
  max-width: 100%;
}
