@import "./fonts/_font.css";
//========================================================================================================================================================
$containerWidth: 1440px;
$padding: 3rem;
$fontSize: 1.6rem;
//========================================================================================================================================================
$mainColor: #000;
$fontFamily: "Roboto", sans-serif;
//========================================================================================================================================================
@import "./base/_null.scss";
@import "./base/_base.scss";

//========================================================================================================================================================
//TODO* other styles
//========================================================================================================================================================

@import "./partials/hero.scss";
